body {
    background: linear-gradient(to top, #525252, #000);

}

.error {
    font-family: monospace;
    margin: 3vmax 0 0 0;
    font-size: 3vmax;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f5c014, 0 0 40px #f5c014, 0 0 70px #f5c014, 0 0 80px #f5c014, 0 0 100px #f5c014;
    text-align: center;
    animation: neon-animation 1.5s ease-in-out infinite alternate;
}

.error-text {
    font-family: monospace;
    font-size: 2vmax;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}

.error-text a {
    text-decoration: none;
    color: #f5c014;
}

@keyframes neon-animation {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f5c014, 0 0 40px #f5c014, 0 0 70px #f5c014, 0 0 80px #f5c014, 0 0 100px #f5c014;
    }
    to {
        text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #f5c014, 0 0 45px #f5c014, 0 0 75px #f5c014, 0 0 85px #f5c014, 0 0 105px #f5c014;
    }
}

.logo-centered img {
    position: fixed;
    transform: translate( -10px, -15%);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80%;
    width: 100%;
}